<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mahasiswa panel</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/thirdchoice.css">
</head>

<body>
    <div class="container">
    </div>



    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class='bx bxs-user'></i>
                <span>mahasiswa</span>
                
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/vintage-gawrgura-gawr-gura-shark-lotus-leafal.jpg"
                alt="me" class="user-img">
            <div>
              <p class="bold">{{ .username }}</p>
              <p> NIM :{{ .nim }}</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="/">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">home</span>
                </a>
                <span class="tooltip">home</span>
                <nav>
                    <div class="nav-wrapper">
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                      </ul>
                    </div>
                  </nav>
            </li>
            <li>
                <a href="/mahasiswa/daftarMk">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Daftar_matakuliah</span>
                </a>
                <span class="tooltip">Daftar_matakuliah</span>
                <nav>
                    <div class="nav-wrapper">
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                      </ul>
                    </div>
                  </nav>
            </li>
            <!-- <li>
                <a href="/mahasiswa/krs">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">krs</span>
                </a>
                <span class="tooltip">krs</span>
                <nav>
                    <div class="nav-wrapper">
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                      </ul>
                    </div>
                  </nav>
            </li> -->
            
            <li>
                <a href="/logout">
                    <i class="bx bxs-log-out"></i>
                    <span class="nav-item">logout</span>
                </a>
                <span class="tooltip">logout</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="row">
            <div class="column">
                <div class="container">
                    <h5> NIM :{{ .nim }}</h5>
                    {{ if .sudahDaftar }}
                    <h1>MAAF ANDA SUDAH DAFTAR</h1>
                    
                    {{ else }}
                    <form action="/mahasiswa/daftar" method="POST">
                        <input type="text" value="{{ .nim }}" name="nim" hidden>
                        <div class="table-responsive">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                      
                                        <th>KodeMk</th>
                                        <th>NamaMk</th>
                                        <th>Sks</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ $nomorUrut := 0 }}
                                    {{ range .Mk }}
                                    {{ $nomorUrut = increment $nomorUrut }}
                                    {{ $idJadwal := queryjadwal .KodeMk }}
                                    <tr>
                                       
                                        <td>{{ .KodeMk }}</td>
                                        <td>{{ .NamaMk }}</td>
                                        <td>{{ .Sks }}</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="{{ $idJadwal }}" id="defaultCheck1" name="jadwal{{ $nomorUrut }}">
                                                <label class="form-check-label" for="defaultCheck1">
                                                  pilih
                                                </label>
                                              </div>
                                        </td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary" style="position: absolute; left: 1400px;">submit</button>
    
                          </div>
                    </form> 
                    {{ end }}
                   
                </div>
                
            </div>
        </div>
    </div>





</body>

<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function () {
        sidebar.classList.toggle('active');
    };
</script>



</html>